input.wd-search-bar-dimensions {
    border: none;
    padding: 7px 60px;
    width: 360px;
}
#wd-highlight-bar {
    height: 3px;
    width: 42pt;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 2px;
}
#wd-search-icon-pos {
    margin-top: 8px;
    margin-left: 25px;
}
#wd-settings-icon-pos {
    margin-top: 16px;
    margin-right: 16px;
}
.wd-margin-banner-links-left {
    margin-left: 16px;
}
.wd-margin-banner-links-right {
    margin-right: 16px;
}
.wd-margin-banner-links-top {
    margin-top: 22px;
}

.wd-explore-profile-thumbnail-dimensions {
    height: 20px;
    width: 20px;
}
.wd-explore-image-thumbnail-dimensions {
    height: 100px;
    width: 100px;
}
.wd-margin-body {
    position: relative;
    margin-left: 16px;
    width: 425pt;
}
.wd-gear-size {
    font-size: 1.2em;
}
.wd-ellipsis-size {
    font-size: 1.3em;
}