.wd-float-left-profile {
    position: relative;
    float: left;
    margin-right: 12pt;
}
.wd-float-right-main {
    position: relative;
    float: right;
}
.wd-bookmarks-margin-body {
    position: absolute;
    display: inline-block;
    min-width: 620px;
}
.wd-bookmarks-profile-thumbnail-dimensions {
    height: 48pt;
    width: 48pt;
}
.wd-bookmarks-image-height {
    height: 264px;
}
.wd-bookmarks-image-width {
    width: 504px;
}
.wd-bookmarks-text-box {
    width: 506px;
}
.wd-icon-size {
    font-size: 1.2em;
}
.wd-flex-container {
    display: flex;
}
.wd-flex-box {
    width: 20%;
}
.wd-flex-container.wd-space-between {
    justify-content: space-between;
}